[submodule "mods/TACZ-1.21.1"]
	path = mods/TACZ-1.21.1
	url = https://github.com/SunsetDN/TACZ-1.21.1
[submodule "mods/First-Aid-New"]
	path = mods/First-Aid-New
	url = https://github.com/SunsetDN/FIrst-Aid-New
[submodule "engine/audio/vendor/codec2"]
	path = engine/audio/vendor/codec2
	url = https://github.com/drowe67/codec2
[submodule "mods/Automobility"]
	path = mods/Automobility
	url = https://github.com/SunsetDN/Automobility
	branch = 1.21-rewrite
[submodule "mods/SuperbWarfare"]
	path = mods/SuperbWarfare
	url = https://github.com/Mercurows/SuperbWarfare
	branch = 1.21
[submodule "mods/ModernUI-MC"]
	path = mods/ModernUI-MC
	url = https://github.com/SunsetDN/ModernUI-MC
	branch = 1.21.1
[submodule "mods/sodium"]
	path = mods/sodium
	url = https://github.com/SunsetDN/sodium
	branch = 1.21.1/stable
[submodule "mods/Iris"]
	path = mods/Iris
	url = https://github.com/SunsetDN/Iris.git
	branch = 1.21.1
[submodule "mods/VoxelMap"]
	path = mods/VoxelMap
	url = https://github.com/SunsetDN/VoxelMap.git
	branch = 1.21.1
[submodule "mods/sound-physics-remastered"]
	path = mods/sound-physics-remastered
	url = https://github.com/SunsetDN/sound-physics-remastered
	branch = 1.21.1
[submodule "mods/distant-horizons"]
	path = mods/distant-horizons
	url = https://github.com/SunsetDN/distant-horizons.git
	branch = main
[submodule "mods/lithium"]
	path = mods/lithium
	url = https://github.com/SunsetDN/lithium.git
